<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Urgell Philippine</title>
    <meta content="portfolio" name="application-name">
    <meta content="Baptiste Urgell" name="author">
    <meta content="Je suis Philippine, une jeune rugbym(wo)man." name="description">
    <meta content="resume, baptiste, urgell, rugby, philippine, portfolio, contact" name="keywords">
    <meta name="color-scheme" content="only light">
    <meta name="robots" content="index, follow">
    <meta property="og:image" content="assets/img/hero-bg.jpg"/>

    <!-- Favicons -->
    <link href="assets/img/favicon.ico" rel="icon">
    <!-- <link href="assets/img/web_site.png" rel="icon"> -->

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />

</head>
<body class="bg-emerald-900">
    
    <!-- Navbar -->
    <nav class="bg-black sm:px-4 bg-opacity-50 fixed w-full z-10 top-0 left-0">
        <ul class="flex p-4 flex-row md:space-x-8 md:mt-0 md:text-sm justify-center">
            <li>
                <a href="#hero" class="block py-2 pl-3 pr-4 text-l text-white md:hover:text-emerald-700 md:p-0" aria-current="page">Menu</a>
            </li>
            <li>
                <a href="#profile" class="block py-2 pl-3 pr-4 text-l text-white md:hover:text-emerald-700 md:p-0">Qui je suis</a>
            </li>
            <li>
                <a href="#resume" class="block scroll-auto py-2 pl-3 pr-4 text-l text-white md:hover:text-emerald-700 md:p-0">Objectifs</a>
            </li>
            <li>
                <a href="#recreation" class="block py-2 pl-3 pr-4 text-l text-white md:hover:text-emerald-700 md:p-0">Performences</a>
            </li>
            <li>
                <a href="#sport" class="block py-2 pl-3 pr-4 text-l text-white md:hover:text-emerald-700 md:p-0">Divers</a>
            </li>
            <li>
                <a href="#rugby" class="block py-2 pl-3 pr-4 text-l text-white md:hover:text-emerald-700 md:p-0">Contact</a>
            </li>
        </ul>
    </nav> 
    <!-- End Navbar -->

    <!-- Page de garde -->
    <section id="hero" class="scroll-smooth">
        <div class="bg-fixed bg-cover brightness-50 bg-[url({{url_for('assets', path='img/hero-bg.jpeg')}})] h-screen w-full"></div>
        <!-- <img src="{{ url_for('assets', path='img/parcours.jpg') }}" alt="Parcours de golf" class="object-cover w-full h-screen brightness-50"> -->
        <div class="absolute w-full bottom-1/2">
            <h4 class="mb-3 text-5xl font-semibold tracking-tight text-white text-center">Philippine Urgell</h4>
            <a href="#profile">
                <img src="{{ url_for('assets', path='img/favicon.png') }}" class="mx-auto h-7 w-7 animate-bounce"/>
            </a>
        </div>
    </section>
    <!-- fin page de garde  -->

    <!-- ======= Profile Section ======= -->
    <section id="profile" class="scroll-smooth">
        <div class="w-full py-20 text-white">
            <!-- <h1 class="text-gray-400 text-center text-5xl mb-6 text-opacity-40">Mon profils</h1> -->
            <h1 class="text-center text-4xl mb-6 pb-20">QUI JE SUIS</h1>
            <div class="grid gap-10 md:grid-cols-3 px-20">
                <img src="{{ url_for('assets', path='img/me.jpg') }}" class="md:row-span-6"/>
                
                <ul class="list-disc w-full space-y-4">
                    <li><b>Prénom:</b> Philippine Urgell</li>
                    <li><b>Téléphone:</b> +33 7 69 22 34 14</li>
                    <li><b>Mobilitée:</b> Permis B</li>
                    <li><b>Education:</b> Bachelière</li>
                </ul>
                
                <ul class="list-disc w-full space-y-4">
                    <li><b>Age:</b>  Née à Toulouse en Mai 2005</li>
                    <li><b>Email:</b> philippine.urgell@gmail.com</li>
                    <li><b>Adresse:</b> 101 Avenue de Lardenne, 31100 Toulouse</li>
                    <li><b>CV:</b> <a target="_blank" href="/curriculum-vitae">Télécharger</a></li></li>
                </ul>
                <div class="md:col-span-2 sm:col-span-1"> 
                    <div class="flex justify-between mb-1">
                        <span class="text-base font-medium">Français - Langue natale</span>
                        <span class="text-sm font-medium">100%</span>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-emerald-700 h-2.5 rounded-full" style="width: 100%"></div>
                    </div>
                </div>
                <div class="md:col-span-2 sm:col-span-1"> 
                    <div class="flex justify-between mb-1">
                        <span class="text-base font-medium">Anglais - Bon niveau</span>
                        <span class="text-sm font-medium">70%</span>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-emerald-700 h-2.5 rounded-full" style="width: 70%"></div>
                    </div>
                </div>
                <div class="md:col-span-2 sm:col-span-1"> 
                    <div class="flex justify-between mb-1">
                        <span class="text-base font-medium">Allemand - Notion</span>
                        <span class="text-sm font-medium">45%</span>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5">
                        <div class="bg-emerald-700 h-2.5 rounded-full" style="width: 45%"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End profile -->

    <!-- Resume Section -->
    <section id="resume" class="scroll-smooth">
        <div class="w-full py-20 px-10">
            <h1 class="text-white text-center text-4xl mb-6 pb-20">Mon CV</h1>
            <div class="grid gap-10 md:grid-cols-2 px-20">
                <ol class="relative border-l border-gray-200 dark:border-gray-700">                  
                    <li class="mb-10 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2022</time>
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>
                        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                        <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Learn more <svg class="w-3 h-3 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></a>
                    </li>
                    <li class="mb-10 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 2022</time>
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Marketing UI design in Figma</h3>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
                    </li>
                    <li class="ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022</time>
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">E-Commerce UI code in Tailwind CSS</h3>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
                    </li>
                </ol>

                <ol class="relative border-l border-gray-200 dark:border-gray-700">                  
                    <li class="mb-10 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 2022</time>
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Application UI code in Tailwind CSS</h3>
                        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                        <a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700">Learn more <svg class="w-3 h-3 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></a>
                    </li>
                    <li class="mb-10 ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 2022</time>
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Marketing UI design in Figma</h3>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
                    </li>
                    <li class="ml-4">
                        <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
                        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">April 2022</time>
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">E-Commerce UI code in Tailwind CSS</h3>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
                    </li>
                </ol>
            </div>              
        </div>
    </section>
    <!-- End Resume -->


    <!-- Testimony Section -->
    <div id="carouselExampleCaptions" class="carousel slide relative bg-cover bg-center bg-[url({{url_for('assets', path='img/testimonials-bg.jpg')}})]" data-bs-ride="carousel">
        <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 pb-5 mb-4">
            <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="1"
                aria-label="Slide 2"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="2"
                aria-label="Slide 3"
            ></button>

        </div>
        <div class="carousel-inner relative w-full overflow-hidden md:h-96">
            <div class="carousel-item active relative float-left w-full">
                <div class="text-white flex flex-col justify-center items-center pt-10">
                    <div class="p-2 bg-gray-400 rounded-full w-32 h-32">
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="rounded-full object-fill" alt="">
                    </div>
                    <h3 class="font-bold pt-2">Julien Lefevre</h3>
                    <h4 class="text-sm text-gray-300">Chief Information Officer </h4>
                    <p class="text-center md:px-40 pt-5">Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
                </div>
            </div>

            <div class="carousel-item relative float-left w-full">
                <div class="text-white flex flex-col justify-center items-center pt-10">
                    <div class="p-2 bg-gray-400 rounded-full w-32 h-32">
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="rounded-full object-fill" alt="">
                    </div>
                    <h3 class="font-bold pt-2">Julien Lefevre</h3>
                    <h4 class="text-sm text-gray-300">Chief Information Officer </h4>
                    <p class="text-center md:px-40 pt-5">Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
                </div>
            </div>

            <div class="carousel-item relative float-left w-full">
                <div class="text-white flex flex-col justify-center items-center pt-10">
                    <div class="p-2 bg-gray-400 rounded-full w-32 h-32">
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="rounded-full object-fill" alt="">
                    </div>
                    <h3 class="font-bold pt-2">Julien Lefevre</h3>
                    <h4 class="text-sm text-gray-300">Chief Information Officer </h4>
                    <p class="text-center md:px-40 pt-5">Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimony -->


    <!-- <div class="bg-fixed bg-cover bg-[url({{url_for('assets', path='img/golf-cart.jpg')}})] h-72 w-full brightness-50"></div> -->

    <!-- Recreation Section -->
    <section id="recreation" class="scroll-smooth">
        <div class="w-full py-20">
            <h1 class="text-white text-center text-4xl mb-6 pb-20">Loisir</h1>
            <div class="grid gap-10 md:grid-cols-2 px-20 md:px-40">
                
                <div class="rounded-md shadow-lg shadow-black bg-gray-200 p-4">
                    <div class="flex justify-center items-center space-x-2 py-2">
                        <img src="{{ url_for('assets', path='img/recreation/muffin.png') }}" class="rounded-full h-14 w-14">
                        <h1 class="font-bold text-xl">La Patisserie</h1>
                    </div>
                    <p class="text-justify">J’admire le travail de pâtisserie, sa rigueur, la recherche de la perfection qu’il impose.</p>
                </div>

                <div class="rounded-md shadow-lg shadow-black bg-gray-200 p-4">
                    <div class="flex justify-center items-center space-x-2 py-2">
                        <img src="{{ url_for('assets', path='img/recreation/friend.png') }}" class="rounded-full h-14 w-14">
                        <h1 class="font-bold text-xl">Cerlce d'amis</h1>
                    </div>
                    <p class="text-justify">Quand j’ai rejoint l’ASRUC je venais de déménager de Toulouse sur Rouen laissant derrière moi mes amis. Je me suis sentie immédiatement intégrée grâce au Rugby et mes coéquipières à qui je dois beaucoup. Mon réseau d’amis est dense car je m’emploi à garder le contact et entretenir l’amitié.</p>
                </div>

                <div class="rounded-md shadow-lg shadow-black bg-gray-200 p-4 md:col-span-2">
                    <div class="flex justify-center items-center space-x-2 py-2">
                        <img src="{{ url_for('assets', path='img/recreation/trip.png') }}" class="rounded-full h-14 w-14">
                        <h1 class="font-bold text-xl">Voyages</h1>
                    </div>
                    <p class="text-justify">De nature curieuse j’aime voyager. Ce qui m’attire c’est aller à la rencontre des gens, m’imprégner de leur coutume et de leur ville. Je ne suis pas une adepte des musées et préfère de loin flâner dans les rues, apprécier la cuisine locale et découvrir la vie nocturne. J’ai voyagé autant avec ma famille que dans le cadre scolaire, Espagne, Italie, Irlande, Ecosse…  J’aime tout autant le sentiment d’indépendance et de liberté que le voyage procure que l’occasion de partager et de découvrir.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Recreation -->

    <!-- Sport Section -->
    <section id="sport" class="scroll-smooth">
        <div class="w-full py-20">
            <h1 class="text-white text-center text-4xl mb-6 pb-20">Sport</h1>
            <div class="grid gap-10 md:grid-cols-2 px-20 md:px-40">
                <div class="flex flex-col justify-center text-white text-justify sm:text-lg md:text-2xl space-y-4">
                    <p class="indent-8">
                        Dès mon plus jeune âge j’ai pratiqué le sport. C’est une question d’équilibre indispensable dans ma vie. J’ai l’envie et le besoin de compétition et de dépassement de soi que ce soit dans l’atteinte d’objectifs individuels ou collectifs.
                    </p>
                    <p class="indent-8">
                        Mes aptitudes physiques, mon endurance et mon mental sont mes atouts principaux. Le sport fait partie intégrale de mon projet professionnel qui murit depuis le collège.
                    </p>
                </div>
                <div class="flex flex-col space-y-4 justify-center">
                    <div class="rounded-md shadow-lg shadow-black bg-gray-200 p-4">
                        <div class="flex md:flex-row sm:flex-col justify-between items-center py-2">
                            <div class="flex justify-right items-center space-x-2">
                                <img src="{{ url_for('assets', path='img/sport/horse.png') }}" class="rounded-full h-14 w-14">
                                <h1 class="font-bold text-xl">Equitation</h1>
                            </div>
                            <p class="text-xl"> Niveau galop 5 - CSO à 12 ans</p>
                        </div>
                    </div>

                    <div class="rounded-md shadow-lg shadow-black bg-gray-200 p-4">
                        <div class="flex md:flex-row sm:flex-col justify-between items-center py-2">
                            <div class="flex justify-right items-center space-x-2">
                                <img src="{{ url_for('assets', path='img/sport/ski.png') }}" class="rounded-full h-14 w-14">
                                <h1 class="font-bold text-xl">Ski</h1>
                            </div>
                            <p class="text-xl"> Niveau compétition - Etoile d'or à 8 ans</p>
                        </div>
                    </div>

                    <div class="rounded-md shadow-lg shadow-black bg-gray-200 p-4">
                        <div class="flex md:flex-row sm:flex-col justify-between items-center py-2">
                            <div class="flex justify-right items-center space-x-2">
                                <img src="{{ url_for('assets', path='img/sport/grs.png') }}" class="rounded-full h-14 w-14">
                                <h1 class="font-bold text-xl">GRS</h1>
                            </div>
                            <p class="text-xl"> Première compétition à 7 ans</p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </section>
    <!-- End Sport -->

    <!-- Rugby Section -->
    <section id="rugby" class="scroll-smooth">
        <div class="w-full p-20">
            <h1 class="text-white text-center text-4xl mb-6 pb-20">Rugby</h1>
            <ol class="items-center sm:flex">
                <li class="relative mb-6 sm:mb-0">
                    <div class="flex items-center">
                        <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                            <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </div>
                        <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                    </div>
                    <div class="mt-3 sm:pr-8">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Flowbite Library v1.0.0</h3>
                        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on December 2, 2021</time>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements.</p>
                    </div>
                </li>
                <li class="relative mb-6 sm:mb-0">
                    <div class="flex items-center">
                        <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                            <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </div>
                        <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                    </div>
                    <div class="mt-3 sm:pr-8">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Flowbite Library v1.2.0</h3>
                        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on December 23, 2021</time>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements.</p>
                    </div>
                </li>
                <li class="relative mb-6 sm:mb-0">
                    <div class="flex items-center">
                        <div class="z-10 flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full ring-0 ring-white dark:bg-blue-900 sm:ring-8 dark:ring-gray-900 shrink-0">
                            <svg aria-hidden="true" class="w-3 h-3 text-blue-800 dark:text-blue-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                        </div>
                        <div class="hidden sm:flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                    </div>
                    <div class="mt-3 sm:pr-8">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Flowbite Library v1.3.0</h3>
                        <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on January 5, 2022</time>
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements.</p>
                    </div>
                </li>
            </ol>

        </div>
    </section>
    <!-- End Rugby -->


    <footer class="bg-gray-200 text-center lg:text-left">
        <div class="text-gray-700 text-center p-4">
        © 2022 Copyright:
        <a class="text-gray-800" href="https://github.com/BaptisteUrgell">Baptiste URGELL</a>
        </div>
    </footer>

</body>
<script src="{{ url_for('assets', path='js/main.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</html>