<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Urgell Philippine</title>
  <meta content="portfolio" name="application-name">
  <meta content="Baptiste Urgell" name="author">
  <meta content="Je suis Philippine, une jeune rugbym(wo)man." name="description">
  <meta content="resume, baptiste, urgell, rugby, philippine, portfolio, contact" name="keywords">
  <meta name="color-scheme" content="only light">
  <meta name="robots" content="index, follow">
  <meta property="og:image" content="assets/img/hero-bg.png"/>

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <!-- <link href="assets/img/web_site.png" rel="icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <!-- <link href="{{ url_for('assets', path='/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('assets', path='/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('assets', path='/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('assets', path='/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('assets', path='/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet"> -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex justify-content-center align-items-center header-transparent">

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Accueil</a></li>
        <li><a class="nav-link scrollto" href="#about">Qui je suis</a></li>
        <!-- <li><a class="nav-link scrollto" href="#objectifs">Objectifs</a></li> -->
        <li><a class="nav-link scrollto" href="#performences">Performences</a></li>
        <li><a class="nav-link scrollto" href="#divers">Divers</a></li>
        <!-- <li class="dropdown"><a href="#portfolio"><span>Portfolio</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/golf-booking-app">Golf Booking App</a></li>
            </ul>
        </li> -->
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h1 style="visibility: hidden;">CSS</h1>
        <h1 style="visibility: hidden;">De merde</h1>
        <h1>Philippine Urgell</h1>
        <h2>Bachelière & Rugbywomen</h2>
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="bx bx-chevron-down"></i></a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <span>Qui je suis</span>
          <h2>Qui je suis</h2>
          <p>“Mettre tout en équilibre, c’est bien. Mettre tout en harmonie c’est mieux.” -Victor Hugo</p>
        </div>

        <div class="row">
          <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
          <div class="col-lg-8 d-flex flex-column align-items-stretch">
            <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Nom:</strong> <span>Philippine Urgell</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Téléphone:</strong> <span>+33 7 69 22 34 14</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>CV:</strong> <a target="_blank" href="/curriculum-vitae"><span>Télécharger</span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Naissance:</strong> <span>Toulouse, Mai 2005</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span> philippine.urgell@gmail.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Education:</strong> <span>Bachelière</span></li>    
                        </ul>
                    </div>
                </div>
                <!-- <div class="row mt-n4">
                    <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="bi bi-trophy-fill" style="color: #2cbdee;"></i>
                            <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Sports</strong> Nombre de sport que j'ai pratiqué à un niveau compétitif</p>
                        </div>
                    </div>

                    <div class="col-md-6 mt-5 d-md-flex align-items-md-stretch">
                        <div class="count-box">
                            <i class="bi bi-award-fill" style="color: #ffec42;"></i>
                            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                            <p><strong>Carton Jaune</strong> Nombre de carton reçu en trois saisons</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <div>
                <br>
                <p align="justify">
                    Dès mon plus jeune âge j’ai pratiqué le <a href="#performences">sport</a>. C’est une question d’équilibre indispensable dans ma vie. J’ai l’envie et le besoin de compétition et de dépassement de soi que ce soit dans l’atteinte d’objectifs individuels ou collectifs.
                </p>
                <p align="justify">
                    Mes aptitudes physiques, mon endurance et mon mental sont mes atouts principaux. Le sport fait partie intégrale de mon projet professionnel qui murit depuis le collège. 
                </p>
                <p align="justify">
                    Quand j’ai rejoint l’ASRUC je venais de déménager de Toulouse sur Rouen laissant derrière moi mes amis. Je me suis sentie immédiatement intégrée grâce au Rugby et mes coéquipières à qui je dois beaucoup.
                </p>
                <p align="justify">
                    Mon réseau d’amis est dense car je m’emploi à garder le contact et entretenir l’amitié.
                </p>
                
            </div>

            <!-- <div class="skills-content ps-lg-4">
                <div class="progress">
                    <span class="skill">Français <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
  
                <div class="progress">
                    <span class="skill">Anglais <i class="val">70%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Allemand <i class="val">40%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div> -->
        </div>

      </div>
    </section><!-- End About Me Section -->


    <!-- ======= My Portfolio Section ======= -->
    <section id="performences" class="portfolio">
        <div class="container">
  
            <div class="section-title">
                <span>performences</span>
                <h2>performences</h2>
                <p>“Dans une équipe de Rugby il n’y a pas de passagers il n’y a qu’un équipage.” -Pierre Villepreux</p>
            </div>

            <div align="justify">
                <p>J’ai découvert le Rugby en 2018, année où j’ai intégré l’ASRUC le club de Rouen.  Je suis titulaire de l’équipe des mini WALKYRIES ou j’occupe aujourd’hui le poste de N° 6. Mon avenir professionnel je le construis autour de ma passion pour le Rugby et le sport en général. Mon objectif est de vivre ma passion à un haut niveau tout en préparant l’après. J’ai choisi la filière droit car j’ambitionne de devenir à terme agent de sportifs.</p>
                <p>Dans un premier temps ma plus grande motivation est de faire partie d’un club qui crois dans le Rugby féminin et ses joueuses. J’ai conscience des défis que constitue la poursuite simultanée d’études supérieures et d’une carrière sportive. Je n’envisage cependant pas l’un sans l’autre. La compétition à toujours fait partie de ma vie et contribue à mon équilibre. J’en mesure toutes les exigences.</p>
            </div>
  
          <!-- <ul id="portfolio-flters" class="d-flex justify-content-center">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">AI</li>
            <li data-filter=".filter-web">Challenge</li>
          </ul> -->
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-img">
                    <img src="assets/img/performence/performence-1.png" class="img-fluid" alt="">
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img">
                      <img src="assets/img/performence/performence-2.png" class="img-fluid" alt="">
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-img">
                      <img src="assets/img/performence/performence-3.png" class="img-fluid" alt="">
                </div>
            </div>
            
  
            <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card filter-web filter-app">
              <div class="portfolio-img">
                  <a href="/surfrider" class="details-link" title="More Details">
                      <img src="assets/img/portfolio/surfrider/portfolio-1.png" class="img-fluid" alt="">
                  </a>
              </div>
              <div class="portfolio-info">
                <h4>IA Pau</h4>
                <p>Challenge</p>
                <a href="/surfrider" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div> -->
  
          </div>
  
        </div>
      </section>
      <!-- End My Portfolio Section -->


    <!-- ======= My Resume Section ======= -->
    <section id="divers" class="resume">
        <div class="container">
  
          <div class="section-title">
            <span>divers</span>
            <h2>divers</h2>
            <p>“Vouloir arriver, c’est avoir déjà fait la moitié du chemin” -Alfed Capus</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Engagement</h3>
                <div class="resume-item">
                    <h4>JO UNSS</h4>
                    <h5>2021</h5>
                    <p><em>Accueil des équipes – Traductrice officielle</em></p>
                    <p align="justify">Lors des JO UNSS en 2022 organisé à Rouen Normandie, je me suis portée volontaire pour assurer l’accueil des équipes étrangères. J’ai particulièrement apprécié rencontrer ces joueurs venus du monde entier et partager avec eux la passion pour leur sport. Je suis fière d’avoir participer à faciliter leur séjour en répondant à leurs questions. Les accompagner dans cette belle rencontre sportive restera une expérience particulièrement enrichissante et valorisante.</p>
                </div>
                <div class="resume-item">
                    <h4>Déléguée de classe</h4>
                    <h5>2021 - 2023</h5>
                    <p><em>Lycée</em></p>
                    <p align="justify">Être délégué de classe est devenu une évidence à partir de la seconde. Mes camarades de classe souvent, avant même ma candidature, sollicitaient mon appui ou mes conseils. J’ai toujours entretenu un dialogue direct avec les professeurs ou l’encadrement du Lycée. Porter la voix de la classe et soutenir au cas par cas l’un de mes camarades m’apporte une grande satisfaction.</p>
                    <p align="justify">Je me sens confortable lorsqu’il s’agit de débattre, échanger ou argumenter et j’aime ses échanges lorsqu’ils sont menés dans un but constructif.</p>
                </div>

            
                <h3 class="resume-title">Job Etudiant</h3>
                <div class="resume-item">
                    <h4>Encadrement sportif</h4>
                    <h5>2022</h5>
                    <p><em>Centre Multisport ASRUC</em></p>
                    <p align="justify">Encadrement d’enfants de 8-11 ans. J’ai eu beaucoup de satisfaction à encadrer ses enfants, à imaginer des activités sportives et participer au plaisir de leur découverte.</p>
                </div>
            </div>
            
            <div class="col-lg-6">
                <h3 class="resume-title">Langues</h3>
                <div class="resume-item pb-0 skill">
                    <h4>Anglais: Bon Niveau</h4>
                </div>
                </br>
                <div class="resume-item pb-0 skill">
                    <h4>Allemand: Notion</h4>
                </div>
                </br>
                <p align="justify">Je n’ai aucun complexe en langue car je les considère comme un moyen de communication et donc peu importe si le présent perfect est bien à l’endroit où on l’attend, chaque fois que l'occasion se présente je les pratique.</p>
                
                <h3 class="resume-title">Loisir</h3>
                <div class="resume-item pb-0 skill">
                    <h4>Pâtisserie</h4>
                    <p align="justify">J’admire le travail de pâtisserie, sa rigueur, la recherche de la perfection qu’il impose.</p>
                </div>
                <div class="resume-item pb-0 skill">
                    <h4>Voyages</h4>
                    <p align="justify">De nature curieuse j’aime voyager. Ce qui m’attire c’est aller à la rencontre des personnes. Je ne suis pas une adepte des musées et préfère de loin flâner dans les rues, apprécier la cuisine locale et découvrir la vie nocturne.</p>
                    <p align="justify">J’ai voyagé autant avec ma famille que dans le cadre scolaire: Espagne, Italie, Irlande, Ecosse…</p>
                    <p align="justify">J’aime tout autant le sentiment d’indépendance et de liberté que le voyage procure que l’occasion de partager et de découvrir.</p>
                </div>


              <!-- <div class="resume-item pb-0 skill">
                <h4>Pénalité</h4>
                <h5>2020 - 2023</h5>
                <p>
                    <ul>
                        <li>Carton Rouge: 0</li>
                        <li>Carton Jaune: 1</li>
                    </ul>
                </p>
              </div>
              <div class="resume-item pb-0 skill">
                <h4>Championnat de France Rugby à 7</h4>
                <h5>2022</h5>
                <p><em>Equipe de Normandie</em></p>
              </div>
              <div class="resume-item pb-0 skill">
                <h4>Championnat de France Rugby à 15</h4>
                <h5>2022</h5>
                <p><em>Mini WALKYRIES</em></p>
              </div>
              <div class="resume-item pb-0 skill">
                <h4>Championne Grand Est Rugby à 10</h4>
                <h5>2022</h5>
                <p><em>ASRUC</em></p>
              </div>

              <div class="resume-item pb-0 skill">
                <h4>Championne Grand Est Rugby à 10</h4>
                <div class="progress">
                    <span class="skills">Allemand <i class="val">40%</i></span>
                    <div class="progress-bar-wrap">
                      <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
              </div>
              <div class="resume-item">
                  <h4>Data/Software Engineer</h4>
                  <h5>June 2020 - August 2020</h5>
                  <p><em>Groupe BZ, Rouen, France</em></p>
                  <p>
                  <ul>
                    <li>Market analysis: Implementation of Web Scrapping routines for historical database. The first steps of wheat market analysis using Scikit-Learn.</li>
                    <li>ERP development: End to end development of an email and text message semi-supervised solution for freight forwarder scheduling. Development in Visual Basic.</li>
                  </ul>
                  </p>
                </div> 
                </div>-->
            </div>
        </div>
    </section><!-- End My Resume Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
            <a href="https://www.linkedin.com/in/julien-lefebvre-b54679105/" target="_blank">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Julien Lefevre</h3>
                <h4>Chief Information Officer </h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </a>
            </div> 

            <div class="swiper-slide">
            <a href="https://www.linkedin.com/in/nicolas-girardin-4518a11/" target="_blank">
              <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Nicolas Girardin</h3>
                <h4>President at A.P.I. Conseil, President at IA Pau</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Baptiste and his team have demonstrated a flawless professionalism and a rare level of competence in artificial intelligence to solve concrete problems.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </a>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> 
    <!-- End Testimonials Section -->
    
    <!-- ======= Contact Me Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
  
          <div class="section-title">
            <span>Contactez moi</span>
            <h2>Contactez moi</h2>
            <p>“Les Anglais ne perdent jamais mais parfois on les bat.” -Jean-Pierre Rives</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-12">
  
              <div class="row">
                <!-- <div class="col-md-12">
                  <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Réseaux sociaux</h3>
                    <div class="social-links">
                      <a href="https://twitter.com/Baptiste2108" class="twitter"><i class="bi bi-twitter"></i></a>
                      <a href="https://www.facebook.com/profile.php?id=100007362638007" class="facebook"><i class="bi bi-facebook"></i></a>
                      <a href="https://www.instagram.com/baptiste_urgell/" class="instagram"><i class="bi bi-instagram"></i></a>
                      <a href="https://github.com/BaptisteUrgell" class="github"><i class="bi bi-github"></i></a>
                      <a href="https://www.linkedin.com/in/baptiste-urgell-53419217b/" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div> -->
                <div class="col-md-6">
                <a href="mailto:philippine.urgell@gmail.com">
                  <div class="info-box mt-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Envoyez-moi un email</h3>
                    <p><a href="mailto:philippine.urgell@gmail.com"> philippine.urgell@gmail.com</a></p>
                  </div>
                </a>
                </div>
                <div class="col-md-6">
                  <div class="info-box mt-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Appellez moi</h3>
                    <p>+33 7 69 22 34 14</p>
                  </div>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </div>
    </section><!-- End Contact Me Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Philippine Urgell</h3>
      <p>“Le rugby ne se joue pas en 2 mais en 3 temps : Avant, la ferveur ; pendant, la bravoure ; après, la fraternité.” -René Crabos</p>
      <div class="social-links">
        <!-- <a target="_blank" href="https://twitter.com/Baptiste2108" class="twitter"><i class="bx bxl-twitter"></i></a> -->
        <!-- <a target="_blank" href="https://www.facebook.com/profile.php?id=100007362638007" class="facebook"><i class="bx bxl-facebook"></i></a> -->
        <!-- <a target="_blank" href="https://www.instagram.com/baptiste_urgell/" class="instagram"><i class="bx bxl-instagram"></i></a> -->
        <!-- <a target="_blank" href="https://github.com/BaptisteUrgell" class="github"><i class="bx bxl-github"></i></a> -->
        <!-- <a target="_blank" href="https://www.linkedin.com/in/baptiste-urgell-53419217b/" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
      <div class="copyright">
        &copy; Copyright <strong><a href="https://github.com/BaptisteUrgell" target="_blank"><span>Urgell Baptiste</span></a></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>